$primaryColor: #326273; // dark teal
$secondaryColor: #5c9ead; // teal
$accentColor: #e39774; // salmon accent
$greyColor: #eeeeee; // light grey
$whiteColor: #ffffff; // white

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;
$leading: 150%;

$gutter: 10px;